@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Deník</h1>
    @if (User.Identity.IsAuthenticated)
    {
        <a asp-controller="Diary" asp-action="Add">Přidat nový záznam do deníku</a>
    }
    else
    {
        <p>Pro zobrazení deníku je nutné se přihlásit</p>
    }
    
</div>
