@model Diary.Models.DiaryEntry

@{
    ViewData["Title"] = "Přidání záznamu do uživatelského deníku";
}

<div class="text-center form-group">
    <h2>@ViewData["Title"]</h2>

    <form method="post" asp-controller="Diary" asp-action="Add">
        <fieldset>
            <legend>Typ záznamu:</legend>
            <label>
                <input type="radio" id="TypeFilm" name="ResourceType" value="Film" asp-for="ResourceType" checked />
                Film
            </label>
            <label>
                <input type="radio" id="TypeBook" name="ResourceType" value="Book" asp-for="ResourceType" />
                Kniha
            </label>
            <span asp-validation-for="ResourceType" class="text-danger"></span>
        </fieldset>

        <br />

        <div>
            <label for="Title">Název:</label>
            <input type="text" id="Title" name="Title" asp-for="Title" required class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>

        <br />

        <div>
            <label for="Genre">Žánr:</label>
            <select id="Genre" name="Genre" asp-for="Genre" class="form-control">
                <option value="">-- Vyberte žánr --</option>
                <option value="Akční">Akční</option>
                <option value="Komedie">Komedie</option>
                <option value="Drama">Drama</option>
                <option value="Sci-Fi">Sci-Fi</option>
                <option value="Fantasy">Fantasy</option>
                <option value="Horor">Horor</option>
                <option value="Thriller">Thriller</option>
                <option value="Romantický">Romantický</option>
                <option value="Dokumentární">Dokumentární</option>
                <option value="Ostatní">Ostatní</option>
            </select>
            <span asp-validation-for="Genre" class="text-danger"></span>
        </div>

        <br />

        <div>
            <label for="Year">Rok vydání:</label>
            <input type="number" id="Year" name="Year" asp-for="Year" required class="form-control" />
            <span asp-validation-for="Year" class="text-danger"></span>
        </div>

        <br />

        <div>
            <label>Přečteno / Shlédnuto:</label>
            <input type="radio" id="IsReadYes" name="IsRead" value="true" asp-for="IsRead" />
            <label for="IsReadYes">Ano</label>
            <input type="radio" id="IsReadNo" name="IsRead" value="false" asp-for="IsRead" checked  />
            <label for="IsReadNo">Ne</label>
            <span asp-validation-for="IsRead" class="text-danger"></span>
        </div>

        <br />

        <button type="submit" class="btn btn-primary">Uložit záznam</button>

    </form>
</div>