@model Diary.Models.DiaryEntry

@{
    ViewData["Title"] = "Přidání záznamu do uživatelského deníku";
}

<div class="text-center form-group">
    <h2>@ViewData["Title"]</h2>

    <form method="post" asp-controller="Diary" asp-action="Add">
        <fieldset>
            <legend>Typ záznamu:</legend>
            <label>
                <input type="radio" id="TypeFilm" name="ResourceType" value="Film" asp-for="ResourceType" checked />
                Film
            </label>
            <label>
                <input type="radio" id="TypeBook" name="ResourceType" value="Kniha" asp-for="ResourceType" />
                Kniha
            </label>
            <span asp-validation-for="ResourceType" class="text-danger"></span>
        </fieldset>

        <br />

        <div>
            <label for="Title">Název:</label>
            <input type="text" id="Title" name="Title" asp-for="Title" required class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>

        <br />

        <div>
            <label for="selectedGenreIds">Žánry:</label>
            <select id="selectedGenreIds" name="selectedGenreIds" multiple class="form-control">
                <option value="1">Akční</option>
                <option value="2">Komedie</option>
                <option value="3">Drama</option>
                <option value="4">Sci-Fi</option>
                <option value="5">Fantasy</option>
                <option value="6">Horor</option>
                <option value="7">Thriller</option>
                <option value="8">Romantický</option>
                <option value="9">Dokumentární</option>
                <option value="10">Ostatní</option>
            </select>
        </div>


        <br />

        <div>
            <label for="Year">Rok vydání:</label>
            <input type="number" id="Year" name="Year" asp-for="Year" required class="form-control" />
            <span asp-validation-for="Year" class="text-danger"></span>
        </div>

        <br />

        <div>
            <label>Přečteno / Shlédnuto:</label>
            <input type="radio" id="IsReadYes" name="IsRead" value="true" asp-for="IsRead" />
            <label for="IsReadYes">Ano</label>
            <input type="radio" id="IsReadNo" name="IsRead" value="false" asp-for="IsRead" checked />
            <label for="IsReadNo">Ne</label>
            <span asp-validation-for="IsRead" class="text-danger"></span>
        </div>

        <br />

        <button type="submit" class="btn btn-primary">Uložit záznam</button>

    </form>
</div>